html {
    font-size: 62.5%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* sourced code from https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website */

  @font-face {
    font-family: "NeueMontreal";
    src: local("NeueMontrea-Boldl"), url(fonts/NeueMontreal-Bold.otf) format("opentype");
    src: url(fonts/NeueMontreal-BoldItalic.otf) format("opentype");
    src: url(fonts/NeueMontreal-Italic.otf) format("opentype");
    src: url(fonts/NeueMontreal-Light.otf) format("opentype");
    src: url(fonts/NeueMontreal-LightItalic.otf) format("opentype");
    src: url(fonts/NeueMontreal-Medium.otf) format("opentype");
    src: url(fonts/NeueMontreal-MediumItalic.otf) format("opentype");
    src: url(fonts/NeueMontreal-Regular.otf) format("opentype");
  }

  body {
    font-size: 1.6rem;
    font-family: 'NeueMontreal', Arial, sans-serif;
    margin: 0 auto;
  }

  /* Header */

  header {
    background-color: rgb(20, 66, 63);
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: none;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
  }

  .show-items {
    display: flex;
    flex-direction: column;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  nav ul li {
    padding-right: 1.7em;
  }

  .logo {
    padding-left: 2em;
  }

  .social-media {
    padding-right: 2em;
  }