html {
  font-size: 62.5%;
}


*,
*:after,
*:before {
  box-sizing: border-box;
}


/* Typography */

body {
  font-size: 1.4rem;
  font-family: 'PT Serif', serif;
  color: #14423f;
  margin: 0 auto;
  text-align: center;
}

header,
h1,
h2,
h3,
h4,
footer {
  font-family: 'Neue Montreal', sans-serif;
}


h1 {
  font-size: 3.8rem;
  font-weight: 300;
}

h2 {
  margin: 1.5em .5em 1em .5em;
  font-weight: 300;
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  padding: 0 .5em;
  font-weight: 400;
  text-align: left;
}

h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: left;
  padding-left: 1.3em;
  margin-bottom: 0;
}

p {
  font-family: 'PT Serif', serif;
  margin: .3em auto 1.5em auto;
  padding: 0 1em;
  text-align: left;
  font-weight: 300;
}

/***** GLOBAL STYLES *****/

/* Buttons! */

.site-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-buttons a, a.primary, a.secondary {
  font-family: 'Neue Montreal', sans-serif;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: .6em;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #14423f;
  font-weight: 400;
  font-size: 1.3rem;
  width: 15em;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.site-buttons a:hover, a.primary:hover, a.secondary:hover {
  transform: translateY(-5px) scale(1.1);
}

a.secondary {
  margin: 1em;
  border-radius: 25px;
  text-align: center;
  border: 1px solid #14423f;
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 4px 8px -px; /* code copied from https://getcssscan.com/css-box-shadow-examples*/
}

.hero .site-buttons a {
  width: 18em;
}

a.primary {
  background-color: #00ffbe;
  margin: 1em auto;
  border-radius: 25px;
  text-align: center;
  border: 1px solid #00ffbe;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
}

.hero a.secondary, .p-hero a.secondary, .e-hero a.secondary {
  box-shadow: rgba(255, 255, 255, 0.55) 0px 5px 12px;
}

.hero a.primary, .p-hero a.primary, .e-hero a.primary {
box-shadow: rgba(0, 255, 255, 0.85) 0px 5px 12px;
}

/* Links & transitions */

/** copied and adapted from Ian Lunn's github repo for css hover effects: https://github.com/IanLunn/Hover/blob/master/css/hover.css **/
.link-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: white;
  transition: 0.2s ease-in-out;
  transition-property: all;
  cursor: pointer;
}

.link-grow:hover,
.link-grow:focus {
  transform: scale(1.3) rotate(-15deg);
}


/** NAV **/

/* Header */

.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em 0.25em 1em;
}

header {
  /* gradient copied and modified from https://cssgradient.io/ */
  background: rgb(20, 66, 63);
  background: linear-gradient(0deg, rgba(20, 66, 63, 1) 35%, rgb(24, 137, 129) 100%);
}

nav ul {
  display: none;
  list-style-type: none;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgba(20, 66, 63, 1) 100%, rgb(24, 137, 129) 15%);
  opacity: 90%;
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: 3;
  position: absolute;
  top: -1em;
  left: 0;
  font-size: 1.6rem;
  letter-spacing: .8px;
  text-transform: uppercase;
  padding: 3em 0 0 0;
}

nav ul li {
  padding: 1.5em 0;
}


.show-items {
  display: flex;
  flex-direction: column;
}

.toggle {
  font-size: 2em;
}

nav a {
  text-decoration: none;
  color: white;
}

/********** HOMEPAGE ***********/
/* HERO */

.video-overlay {
  background-image: url(video/mask-mobile1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: 1;
}

.background-video {
  background-color: #14423f;
  margin: 0 auto;
  position: absolute;
  top: -4em;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.video-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero h1 {
  color: white;
  opacity: 90%;
  z-index: 1;
  margin-top: 1.5em;
}

.hero a.secondary {
  margin: 1em;
  border-radius: 25px;
  text-align: center;
  border: 1px solid white;
  background-color: #14423f;
  box-shadow: rgba(0, 255, 255, 0.35) 0px 5px 15px;
  color: white;
}

/* Performers */

.performers {
  margin: 1em;
  border-bottom: #408b86 solid 1px;
  padding-bottom: 1.5em;
}

.performers-info p {
  margin-bottom: 3em;
}

.performers figure {
  margin: 1.5em 0;
  padding: 0;
}

.performers-images-1 img, .performers-images-2 img {
  text-align: center;
  width: 92%;
  border-radius: 18px;
}

.performers button {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* copied from https://getcssscan.com/css-box-shadow-examples */
}

.performers .site-buttons {
  padding: .5em 0;
}


/* The Experience */

.experience {
  margin: auto 1em;
  border-top: 1px solid white;
  border-bottom: #408b86 solid 1px;
}

.experience-images img {
  width: 90%;
  /*border: 2.5px solid #87AF18;*/
  border-radius: 18px;
  border: #aee5ff solid 2px;
  margin-top: 2em;
  margin-bottom: 0;
}

.experience a.primary  {
  margin: 0 auto 3em auto;
  width: 20em;
}

.experience-music {
  margin-top: 6em;
}

.experience p {
  padding-bottom: 1em;
}

.experience figure {
  margin: 0;
}

/* About */

.about {
  margin: 0 1em;
  padding-bottom: 2em;
}

.about a.secondary {
  margin: 0 auto;
}

.fox {
  margin-top: 2em;
  border-radius: 25px;
  width: 60%;
}

/* Sign up */

.sign-up {
  background-image: url(images/signup-bg.jpg);
  background-size: cover;
  padding: .5em 0 6em 0;
  margin: 0 1em;
  border-bottom: #408b86 solid 1px;
  border-top: #408b86 solid 1px;
}

.sign-up h4 {
  margin: 2em auto;
  padding-left: 0;
}

form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  margin: 2em auto 1.5em auto;
  width: 85%;
  text-align: left;
  border: 1px solid #14423f;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: none;
}

input,
label {
  margin: .2em;
}

input {
  width: 15em;
  display: block;
  margin-bottom: 1em;
}

.submit {
  background-color: #00ffbe;
  margin: 1.5em auto;
  padding: .6em;
  border-radius: 25px;
  display: block;
  border: 1px solid #00ffbe;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  text-transform: uppercase;
  width: 10em;
}

/* Territorial Acknowledgement */

.territory-acknowledgement p {
  width: 90%;
}

.territory-acknowledgement img {
  width: 80%;
  border: 2px solid #ebf9fc;
  border-radius: 18px;
  margin: 2em auto;
  border: #aee5ff solid 2px;

}

/* Footer */

footer {
  background: #14423f;
  color: white;
}

footer h3 {
  padding: 4em 0 1em 0;
  margin: 0 auto;
  font-family: 'Neue Montreal';
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
}

footer a,
footer p {
  color: white;
  font-weight: 300;
  font-family: 'Neue Montreal', sans-serif;
}

footer p {
  margin: .5em auto;
  text-align: center;
}

address {
  margin: 3em auto;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 300;
}

footer .social-media {
  margin: 2em 5em;
  display: flex;
  justify-content: center;
}

.privacy-disclosure {
  font-size: 1.1rem;
  margin: 0 auto;
  padding-bottom: .5em;
  border-top: .5px solid white;
}

.privacy-disclosure p {
  margin: 1em auto;
  text-align: left;
}

/*********** PERFORMERS PAGE ************/

/* HERO */

.p-hero {
  background-image: url(images/performers-hero.jpg);
  background-size: cover;
  background-position: -16em 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  color: white;
  padding-left: 9em;
}

.p-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  width: 95%;
  border-radius: 16px;
}

.add-bg {
  padding: 1em;
  background-color: rgba(5, 44, 40, 0.5);
  border-radius: 16px;
}

.p-hero h1 {
  transform: rotate(-12deg);
  margin-top: 0;
  text-align: left;
  font-size: 3em;
  font-weight: 600;
}

.p-hero p {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}

/* Intro & Spotify section */

.spotify {
  margin: 1em 2em;
  padding-bottom: 2em;
  border-bottom: #408b86 solid 1px;
}

.spotify h2 {
  margin: 1.5em 0 1em 0;
}

.spotify h3 {
  padding: 1em 0 0 0;
  text-align: center;
}

.spotify h4 {
  padding-bottom: .6em;
}

.spotify iframe {
  width: 90%;
  border-radius: 16px;
  border: none;
}

.spotify p {
  border-bottom: #408b86 solid 1px;
  padding: 0 0 1em 0;
}

/* Schedule of lineup */

.schedule {
  margin: 2em 1em 2em 1em;
}

table {
  background-size: cover;
  margin: 0 auto;
  width: 95%;
  font-family: 'Neue Montreal', sans-serif;
  border-collapse: separate;
  border-spacing: 0 0;
  empty-cells: hide;
  color: #0A2E46;
  background-image: url(images/2023-schedule.jpg);
  background-size: cover;
  background-position: center;
}

table caption {
  padding-bottom: 1.5em;
  font-size: 2.5rem;
  color: #14423f;
}

table th {
  font-size: 1.2em;
  font-weight: 500;
  color: #0A2E46;
  padding: .5em 0;
}

tr,
td,
th,
table {
  border: #0A2E46 solid 1px;
}

tr,
td,
th {
  height: 2.5em;
}

/* Call to action */

.cta {
  padding: 6em 1em 4em 1em;
  position: relative;
  margin: 0 auto;
  overflow: hidden
}

.star {
  position: absolute;
  top: -8em;
  right: -12em;
  animation: 2.5s linear 1s infinite alternate spin;
}

/* learned the from - to syntax from: https://www.joshwcomeau.com/animation/keyframe-animations/ */
@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(.5turn);
  }
}

.cta-para {
  padding: 1em;
  color: #144540;
  background-color: #dffdff;
  border: #d7f9fc solid 2px;
  position: relative;
  margin: 0 auto;
  width: 90%;
  border-radius: 16px;
}

.cta h2 {
  font-size: 3.5rem;
  margin: 1em 0;
}

.stand-out {
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 5em;
  width: 90%;
  border-radius: 16px;
}

.stand-out p {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.cta h4 {
  display: inline-block;
  font-size: 2.5rem;
  text-transform: initial;
  font-weight: 500;
  margin: 0 auto 0 1em;
  background-image: url(images/yellow-squiggle.png);
  background-size: contain;
  padding: 0 0 .4em 0;
}

.cta ul {
  padding: 0;
}

.cta ul li {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1.4rem;
  padding: .6em;
  margin: 0 auto;
  list-style-type: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.cta ul li p {
  margin: 0 0 0 2em;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: .05rem;
}


/********* Experience Page ***********/

/* HERO */

.e-hero {
  padding: 2em 1em 1em 1em;
  background-image: url(images/experience/experience-hero.jpg);
  background-position: -35em;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  color: white;
}

.e-hero h1 {
  transform: rotate(-12deg);
  text-align: left;
  padding-bottom: 1em;
  margin: 0;
  font-size: 3em;
  font-weight: 600;
}

.e-hero p {
  text-align: left;
  margin: 0;
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  padding: .5em;
}

.e-hero .bg-gradient {
  background-color: rgba(5, 44, 40, 0.5);
  margin: 0 2em 0 1em;
  padding: .5em 1em;
  width: 20em;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 36em;
}

.e-hero a.primary {
  margin: 1.5em auto;
}

.e-hero a.secondary {
  color: white;
  background-color: #225b55;
  border-color: #225b55;
  margin: 0 auto 2em auto;
}

/** Stages **/

.stages {
  margin: 1em;
}

.stages-preamble {
margin-bottom: 3em;
}

.stage-detail {
  margin: 2em 1em;
}

.stages h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 auto .3em auto;
}

/** Audience Info **/

.accordion-container {
  text-align: left;
  margin: 2em;
}

.accordion-container summary {
  font-size: 1.8rem;
  padding: 1em;
  font-family: 'Neue Montreal', sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #408b86;
  border-right: 1px solid #408b86;
  border-left: 1px solid #408b86;
  transition: all .3s ease-in-out;
  list-style: none;
}
 summary:hover,
details[open] summary
details[open] {
  background-color: rgba(0, 255, 255, 0.35)
}

details[open] summary,
details summary,
details summary::after {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-container .hosts {
  border-top: 1px solid #408b86;
}

details summary .fa-arrow-up {
  display: none;
}

details[open] summary .fa-arrow-up {
  display: initial;
}

details[open] summary .fa-arrow-down {
  display: none;
}

.accordion p {
  margin-top: 0;
  padding-top: 1em;
}

.accordion {
  border-right: 1px solid #408b86;
  border-left: 1px solid #408b86;
  border-bottom: 1px solid #408b86;
}
.accordion ul {
  margin-top: 0;
  padding: 1em 1em 1em 2em;
}

@media only screen and (min-width: 1170px) {

  /* Typography */

  h2 {
    font-size: 4rem;
    font-weight: 300;
    margin: 2em auto .75em 0;
  }

  h3 {
    font-size: 2.5rem;
    padding-left: 0;
  }

  p {
    font-size: 1.6rem;
  }

  /* Global */
  .hero a.secondary, .hero a.primary,
  a.primary,
  a.secondary {
    font-size: 1.5rem;
    margin: 1em 1.5em;
  }
  
  .site-buttons {
    flex-direction: row;
    margin: 0 auto;
  }

  /* Header */

  .wrapper-div {
    width: 1170px;
    margin: 0 auto;
  }

  header .wrapper-div {
    padding: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: none;
    font-size: 1.3rem;
    opacity: 100%;
    width: unset;
    height: unset;
    position: unset;
    padding: 0;
    margin: 0;
    padding: .5em 0;
    z-index: -1;
  }

  nav ul li {
    padding: 0;
    margin: 0 1.5em;
    z-index: 0;
  }

  nav .toggle {
    display: none;
  }

  nav ul li .active {
    transform: rotate(-12deg) scale(1.2);
    background-image: url(images/yellow-squiggle.png);
    background-size: contain;
    padding: .5em 0;
    z-index: 1;
    display: inline-block;
  }

  /*** HOMEPAGE ****/

  /* HERO */

  .hero h1 {
    font-size: 7em;
    margin: -.1em auto 3em auto;
  }

  .hero .site-buttons button {
    width: 25em;
  }

  .hero button.secondary {
    margin-right: 4em;
  }

  .hero {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
  }

  .background-video {
    top: -3em;
    width: 100vw;
    height: 100vh;
  }

  .video-overlay {
    background-image: url(video/mask-desktop.png);
    justify-content: space-around;
  }

  /* Performers */

  .performers {
    margin: 2em auto;
    max-width: 1170px;
    padding-bottom: 1em;
  }

  .performers-info {
    margin: 0 auto;
    width: 55%;
  }

  .performers-info p {
    padding: 2em 0 2em 0;
  }

  .performers h3 {
    text-align: center;
    width: 55%;
    margin: 0 auto .5em auto;
  }

  .performers h4 {
    margin-bottom: 0;
  }

  .performers .site-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 2em;
  }

  .watch-out {
    text-transform: none;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .performers-images-1 {
    display: flex;

  }

  .performers-images-2 {
    display: flex;
    margin-bottom: 2em;
  }

  .performers-images-1 img, .performers-images-2 img {
    width: 95%;
  }

  /* The Experience */

  .experience {
    max-width: 1170px;
    margin: 0 auto 5em auto;
    padding-bottom: 2em;
  }

  .experience h2 {
    margin-top: 1em;
  }

  .experience p {
    width: 55%;
  }

  .experience button.primary {
    width: 25em;
  }

  .experience-images {
    display: flex;
    justify-content: space-between;
  }

  .experience-images img {
    margin: 0 0 1em 0;
    padding: 0;
  }

  .experience figure {
    width: 33%;
    margin: 3em 0;
  }

  .experience-images p {
    width: 100%;
    margin: 0;
    padding: 0 1.4em;
  }

  /* About */

  .about {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    margin: 3em auto;
    max-width: 1170px;
  }

  .about h2 {
    margin-top: 0;
  }

  .about-info {
    text-align: left;
    width: 50%;
  }

  .about a.secondary {
    margin: 0;
  }

  .fox {
    width: 25%;
    margin-top: 0;
  }

  .about p {
    width: 55%;
    margin: 0 0 3em 0;
    padding: 0;
  }

  /* Sign up form */

  .sign-up h2 {
    margin: 1em auto;
  }

  .sign-up h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    padding: 1em;
  }

  .sign-up {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 1em;
  }

  form {
    width: 50%;
  }

  fieldset {
    border: none;
  }

  .submit {
    margin: 3em auto;
    width: 12em;
    padding: .6em;
    font-size: 1.5rem;
  }

  label {
    margin-bottom: .5em;
  }

  input,
  label {
    font-size: 1.5rem;
    font-family: 'Neue Montreal', sans-serif;
  }

  input {
    width: 20em;
    display: block;
    padding: .5em 0;
    margin-bottom: 1em;
  }

  /* Territory Acknowledgement */

  .territory-acknowledgement {
    max-width: 1170px;
    margin: 5em auto 1em auto;
    display: flex;
    justify-content: space-between;
  }

  .territory-acknowledgement h2 {
    margin: 0 0 1em 0;
    text-align: left;
  }

  .territory-acknowledgement p {
    margin-left: 0;
    padding-left: 0;
  }

  .territory-info {
    margin-left: 2em;
  }

  .territory-acknowledgement :nth-child(1) {
    order: 2;
    width: 80%;
  }

  .territory-acknowledgement :nth-child(2) {
    order: 1;
    width: 80%;
  }

  .territory-image img {
    margin-top: 0;

  }

  /* Footer */

  footer a {
    font-size: 1.6rem;
  }

  footer address {
    font-size: 1.5rem;
  }

  .privacy-disclosure p,
  .privacy-disclosure a {
    font-size: 1.4rem;
  }

  /******** Performers Page ***********/

  /* Hero */

  .p-hero {
    background: top left / cover no-repeat url(images/performers-hero.jpg);
    width: 100vw;
    height: 100vh;
  }

  .p-wrapper {
    max-width: 1170px;
    padding-left: 30em;
    text-align: left;
    color: white;
    width: 800px;
    height: 100%;
  }

  .add-bg {
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .p-hero h1 {
    margin: 0 0 .8em 0;
    font-size: 5em;
    font-weight: 600;
  }

  .p-hero p {
    padding: .5em 0;
    font-size: 1.8em;
  }

  .p-hero button.primary {
    margin-left: 0;
    display: block;
  }

  /* Info & Spotify */

  .spotify {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
  }

  .spotify-info {
    width: 45%;
  }

  .spotify-music {
    width: 45%;
    padding-top: 5em;
  }

  .spotify p {
    border-bottom: none;
  }

  .spotify h2 {
    margin: 2em auto 1em auto;
  }

  .spotify h3 {
    text-align: left;
  }

  /* Schedule */

  .schedule {
    max-width: 1170px;
    margin: 0 auto;
  }

  .schedule table {
    width: 50%;
  }

  /**CTA**/

  .cta {
    max-width: 1170px;
    margin: 2em auto;
    display: flex;
    justify-content: center;
  }

  .cta-para {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .stand-out {
    width: 50%;
    margin-left: 15em;
    align-content: center;
    padding-top: 0;
  }

  .cta ul li {
    justify-content: center;
  }

  /*********Experience Page************/

  /*HERO*/
  

.e-hero {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.e-hero .bg-gradient {
  width:45em;
  padding-top: 2em;
  margin: 3em auto;
  height: 48em;
}

.e-hero h1 {
  font-size: 5em;
  font-weight: 600;
}

.e-hero p {
  font-size: 1.8em;

}


.e-hero a.secondary {
  margin: 1.5em auto;
}

.e-hero .site-buttons {
  display: flex;
  flex-direction: column;
}

/**Stages**/

.stages {
  width: 1170px;
  margin: 0 auto;
}

.stages-preamble {
  width: 45em;
  margin: 0 auto;
}

.stages1, .stages2 {
  display: flex;
  align-content: center;
}

.audience-info {
  width: 60em;
  margin: 0 auto;
}

}