html {
    font-size: 62.5%;
}


  * {
    box-sizing: border-box;
  }


  /* Typography */

  body {
    max-width: 1170px;
    font-size: 1.6rem;
    font-family: 'NeueMontreal', Arial, sans-serif;
    margin: 0 auto;
  }

  /* Header */

  header {
    background-color: #042a2b;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  nav ul {
    display: none;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
  }

  .show-items {
    display: flex;
    flex-direction: column;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  nav ul li {
    padding-right: 1.7em;
  }

  /* HERO */

  .hero-video {
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
  }

  .hero-video video {
    position: absolute;
    min-width: 100%;
    z-index: -1;
  }

  .hero h1 {
    font-size: 3rem;
    color: white;
    opacity: 90%;
    z-index: 1;
    margin: 0;
    padding: 1.3em 0 2.5em .3em;
  }
  
  .hero-buttons a {
    font-size: .9rem;
    text-transform: uppercase;
    margin: 0;
    padding: 1em;
    text-decoration: none;
  }

  .hero-buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .secondary {
    background-color: white, 95%;
    margin: 2em;
    border-radius: 25px;
    text-align: center;
    border: 1px solid black;
  }

  .secondary a {
    color: #248a85;
    box-shadow: #042a2b;
    font-weight: 600;
  }

  .primary {
    background-color: #00ffbe;
    margin: 2em;
    border-radius: 25px;
    text-align: center;
    border: 1px solid #00ffbe;
  }

  .primary a {
    color: black;
    font-weight: 600;
  }





